/* --------------------------------------- Global Style ---------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins',
    sans-serif;
}

#logo {
  font-size: 3.6rem;
  font-family: 'Indie Flower',
    cursive;
  font-weight: 400;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: normal;
}

h2 {
  font-size: 2.4rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background-color: #436e97;
  border: none;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}

/* --------------------------------------- Navbar and Hero Section ---------------------------------------*/

.main-head {
  background: #131c27;
  color: white;
}

nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  width: 90vw;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
  flex: 2 1 40rem;
}

.hero {
  min-height: 90vh;
  background: url("/pick/apLand.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;
  color: #131c27;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  padding: 5rem;
}

/* --------------------------------------- Media Query ---------------------------------------*/

@media screen and (max-width:1357px) {
  a {
    color: #131c27;
    text-decoration: none;
  }

  .main-head {
    background: white;
    color: #131c27;
  }

  .hero {
    min-height: 90vh;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent), url("/pick/apLand.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom center;
    background-color: #131c27;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width:933px) {
  html {
    font-size: 8px;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 1rem;
  }

  .hero {
    min-height: 90vh;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent), url("/pick/apLand.png");
    background-repeat: no-repeat;
    background-size: 65vh;
    background-position: bottom center;
    background-color: #131c27;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero h2 {
    padding: 3rem;
  }
}